body {
  background-color: #2f2f2f;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chatbox {
  background-color: #424242;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  max-height: 500px
}

.output {
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: auto;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

p {
  white-space: pre-line;
  margin: 0;
}

.user-input {
  color: #a9a9a9;
}
